{% load static %}
<header class="header header--loggedIn">
    <div class="container">
        <a href="{% url 'home' %}" class="header__logo">
            <svg width="128px" height="64px" viewBox="0 0 512 361.168">
                <use href="{% static "images/logo.svg" %}#logo_icon"></use>
            </svg>
            <h1>PyDiscord</h1>
        </a>
        <form class="header__search" method="get" action="{% url 'home' %}">
            <label>
                <svg viewBox="0 0 32 32">
                    <use href="{% static "images/icons/search.svg" %}#search_icon"></use>
                </svg>
                <input name="q" placeholder="Search for conversations..."/>
            </label>
        </form>
        <nav class="header__menu">
            <!-- Logged In -->

            {% if request.user.is_authenticated %}
                <div class="header__user">
                    <a href="{% url 'update-user' %}">
                        <div class="avatar avatar--medium active">
                            <img src="{{ request.user.avatar.url }}" alt="user avatar"/>
                        </div>
                        <p>{{ request.user.username }} <span>@{{ request.user.username }}</span></p>
                    </a>
                    <button class="dropdown-button">
                        <svg class="dropdown-button-svg" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32" transform="rotate(0)">
                            <title>chevron-down</title>
                            <use href="{% static "images/icons/chevron-down.svg" %}#chevron_down_icon"></use>
                        </svg>
                    </button>
                </div>
            {% else %}
                <!-- Not Logged In -->
                <a href="{% url 'login' %}">
                    <img src="{% static 'images/avatar.svg' %}" alt="default avatar"/>
                    <p>Login</p>
                </a>
            {% endif %}
            <div class="dropdown-menu">
                <a href="{% url 'update-user' %}" class="dropdown-link">
                    <svg viewBox="0 0 32 32">
                        <use href="{% static "images/icons/tools.svg" %}#tools_icon"></use>
                    </svg>
                    Settings
                </a>
                <a href="{% url 'logout' %}" class="dropdown-link">
                    <svg viewBox="0 0 32 32">
                        <use href="{% static "images/icons/sign-out.svg" %}#sign_out_icon"></use>
                    </svg>
                    Logout
                </a>
            </div>
        </nav>
    </div>
</header>